/* Page */
@font-face {
    font-family: "OpenSans";
    src: url("font/OpenSans/OpenSans-VariableFont_wdth,wght.ttf") format("OpenType");
}

html {
    background-color: rgb(46, 46, 46);
    margin: 0;
    padding: 0;

    /* var */
    --major-color: #6C8954;
    --second-color: #E6F7D7;
}

body {
    margin: auto;
    background-color: white;
    width: 21cm;
    height: 29.7cm;
    display: flex;
    font-family: "OpenSans";
}

/* Components */
.separator {
    border: 1px solid var(--major-color);
    width: 85%;
    margin: 7px 0px;
}

.separator-big {
    border: 1px solid var(--major-color);
    width: 85%;
    margin: 7px 0px -4px;
}

.part-title {
    margin: 0px;
    font-size: 16px;
    color: var(--major-color);
}

/* About me */
#about {
    color: white;
    background-color: var(--major-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6.5cm;
    padding: 10px 0px;
}

#picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: solid white 5px;
    margin: 5px 0px -5px;
}

#description {
    text-align: center;
    margin: 0px;
    margin-bottom: 10px;
    margin-top: -5px;
}

#about-infos {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    font-size: 13px;
    padding-bottom: 4px;
}

svg {
    fill: white;
    width: 20px;
    margin-right: 5px;
}

a {
    color: white;
    text-decoration: none;
}

#linkedinsvg {
    width: 17px;
}

#githubsvg {
    width: 17px;
}

/* Left Part */
#left {
    background-color: var(--second-color);
}

#skills {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.skills-content {
    margin: 0px;
    font-size: 14px;
    color: black;
}

.skills-content-medium {
    margin: 0px;
    font-size: 13px;
    color: black;
    margin-bottom: -4px;
}

.skills-content-small {
    margin: 0px;
    font-size: 12px;
}

.skills-sub {
    display: flex;
    justify-content: space-between;
}

.skills-subtitle {
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-self: flex-end;
}

.skills-subtitle-0 {
    margin-top: 0px;
}

.list-col {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.language-subtitle {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    align-self: flex-end;
}

/* Right Part */
#introduction {
    margin: 0px;
    padding: 20px;
    background-color: var(--second-color);
    text-align: center;
    font-size: 18px;
}

#experiences {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6px;
}

.content-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content-top p {
    margin: 0%;
    display: inline-block;
    align-self: flex-end;
}

.content-title {
    font-weight: bold;
    font-size: 14px;
}

.content-place {
    font-style: italic;
    font-size: 12px;
}

.content-date {
    font-size: 12px;
}

.content-subtitle {
    font-weight: 700;
    color: rgb(54, 54, 54);
    font-size: 13px;
    margin: 0%;
}

.content-text {
    font-size: 13px;
    margin: 0%;
}

.bullet-list {
    margin: 0px;
}